
body{
    height: 1000px;
    background-image: url(/imagenes/FondoBody.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.contenedor{
    display: flex;
    background-color:  rgba(223, 111, 7, 0.623);

}
.contenedorFlex{
    /*el Height uso px porque no importa el tema del responsive por ahora*/
    height: 500px;
    
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-content:center;
    flex-wrap: wrap;
}

.circulos{
    background-color:hwb(251 7% 10% / 0.849) ;
    border-radius: 50%;

    /*Usamos px para que en ningun momento se modifique su valor*/
    width: 100px;
    height: 100px;
    
    display: flex;
    justify-content: center;
    transition: width 1s,height 1s;
}
.circulos:hover{
    width: 110px;
    height: 110px;
}
.titulo{
    height: 200px;
    }


button{
    align-self:center;
    width: 100px;
    height: 100px;
    background-color: rgba(53, 50, 50, 0.815);
    transition: width 1s, height 1s;
    
}
button:hover{
    width: 110px;
    height: 110px;
}
