/*--------------- ETIQUETAS ------------------*/
body{
    background-image: url(./imagenes/windowsGoku.webp);
    background-size: cover;
    background-repeat: no-repeat;
}


table {
    height: 10cm;
    width: 20cm;
    background: rgba(63, 141, 231, 0.63) ;
    color: black;
}

td{
    background: rgba(27, 65, 187, 0.603);
    color: black;
}
tr{
}
 

/*--------------- Clases ------------------*/
.contenedor{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.superior{
    height: 4cm;
}
 

/*--------------- ID ------------------*/
#titulo{
    display: block;
    margin: auto;
    width: 300px;
    transition: 0.5s;
}
#titulo:hover {
    display: block;
    margin: auto;
    width: 400px;
}